body {
	margin: 0;
	padding: 60px;
	font-family: Calibri;
}
a {
	text-decoration: none;
	color: black;
}


.ldp {
	/* Ratio H/W : 1.3571 */
	width: 280px;
	height: 380px; /* Pas de hauteur prédéfinie. */
	position: absolute;
	display: inline-block; 
	box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.38);
	user-select: none;
	-moz-user-select: none;
}

.ldp-header {
	background: #01B1AE;
	color: white;
	height: 25%; /* Pas de hauteur prédéfinie. */
	position: relative;
	display: flex;
	box-shadow: 0px 15px 32px -16px rgba(0,0,0,0.54);
}
	.ldp-header-row {
		width: calc(100% / 3);
	}
	.ldp-btn {
		height: 30%; /* 25px */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.ldp-btn:hover {
		background: #00bcb8;
		cursor: pointer;
	}
	.ldp-icon-arrow-up, .ldp-icon-arrow-down {
		width: 65%; /* 20px */
		height: 65%; /* 20px */
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	.ldp-icon-arrow-down {
		transform: rotate(180deg);
	}
	.ldp-icon-color {
		fill: #e0e0e0;
	}
	.ldp-output {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40%; /* 40px */
		text-align: center;
		font-size: 33px; /* 2em */
	}

.ldp-calendar {
	height: 75%; /* Pas de hauteur prédéfinie. */
	color: grey;
	background: white;
}
.ldp-cell {
	display: flex;
	justify-content: center;
	align-items: center;
}
	.ldp-calendar-header {
		display: flex;
		height: 14.2857%; /* Pas de hauteur prédéfinie. */
		border-bottom: 1px solid lightgrey;
		font-size: 19px;
	}
		.ldp-calendar-header .ldp-cell {
			height: 100%; /* 40px */
			width: 14.2857%; /* 40px */
		}
	.ldp-calendar-body {
		height: 85.7143%; /* Pas de hauteur prédéfinie. */
		font-size: 16px;
	}
		.ldp-row {
			display: flex;
			height: 16.6666%; /* Pas de hauteur prédéfinie. */
		}

		.ldp-cell {
			height: 100%; /* Pas de hauteur prédéfinie. */
			width: 14.2857%; /* Défini au dessus */
		}
		
		.ldp-filled:hover {
			/* Propriétées retirées car pas de style sur hover.
			background: #01B1AE;
			color: white;
			border-radius: 100px;
			font-weight: bold;*/
			cursor: pointer;
		}
		/* Classe ajoutée depuis javascript */
		.ldp-selected {
			background: #01B1AE;
			color: white;
			border-radius: 100px;
			font-weight: bold;
		}
		/* Classe ajoutée depuis javascript */
		.ldp-dot {
			width: 12.5%; /* 5px */
			height: 12.5%; /* 5px */
			border-radius: 100%;
			background: lightgrey;
		}

.ldp,
.ldp-header,
.ldp-btn:hover,
.ldp-icon-color,
.ldp-calendar,
.ldp-selected,
.ldp-dot {
	transition: 0.5s;
}